@use "@/styles/_variables.scss" as *;


.footer {
  background-color: $black;
  color: $white;
  // padding: 100px 8vw;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-direction: row;
}

.leftSection {
  flex: 2;
  color: $blue;
}

.rightSection {
  flex: 1;
  display: flex;
  gap: 2rem;
}

.privacy {
  color: $white;
  font-size: 14px;
}

.navigation, .contacts {
  flex: 1;
}

.navigation {
  .navTitle {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .navList {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    
    li {
      margin-top: 0.25rem;
      
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.contacts {
  .contactsTitle {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .email {
    color: $blue;
    text-decoration: underline;
  }
  .socialIcons {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;

    a {
      color: white;
      transition: color 0.3s;

      &:hover {
        color: #4a90e2;
      }
    }
  }
}

/* ✅ Упрощённый футер для страницы регистрации */
.registerFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  // width: 100%;
  padding: 20px;
}

.registerContent .logo {
  width: 300px;
  margin-bottom: 10px;
}
