// src/styles/_variables.scss
$blue: #8FA0C3;
$white: #EDF2FC;
$black: #090B2D;
$violet: #3A3C5F;

@font-face {
  font-family: 'Rubik Wet Paint';
  src: url('../fonts/Rubik Wet Paint/RubikWetPaint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo{
  font-family: 'Rubik Wet Paint', sans-serif;
  color: $white;
}

.logo {
  // width: 250px;
  // font-size: 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;


}


.container{
  padding: 40px 7vw;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  color: $black;
  width: 5vw;
  height: 3vw;
  // padding: 15wv 3wv;
  background: none;
  cursor: pointer;
  font-size: 2vw;
  text-align: center;
  border: 1px;
  border-color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.prev {
  left: -2px;
}

.next {
  right: -2px;
}

@media (max-width: 1024px) {
  .container{
    padding: 15px 5vw;
  }
  .prev ,.next {
    display: none;
  }
}