@use "@/styles/_variables.scss" as *;

@font-face {
  font-family: 'Rubik Wet Paint';
  src: url('../fonts/Rubik Wet Paint/RubikWetPaint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont/Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Lighthaus';
  src: url('../fonts/Lighthaus/Lighthaus.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $black;
  overflow-x: hidden;
  font-size: 18px;
  font-family: 'Mont';
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}


h2{
  font-size: 50px;
  font-family: 'Lighthaus';
}


span {
  font-size: 30px;
}

.stocks{
  background-color: $black;
  display: flex;
  padding: 40px 8vw;
  color: $white;
  position: relative;
  div{
    flex: 1;
  }
  h2{
    font-size: 150px;
    margin: 0;
  }
  p{
    font-size: 35px;
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  button{
    font-size: 18px;
    padding: 15px 130px;
    color: $black;
    background-color: $blue;
    border: 0;
    cursor: pointer;
    
  }
}



@media (max-width: 1024px) {
  h2{
    font-size: 40px;
  }
  span {
    font-size: 25px;
  }

}

@media (max-width: 768px) {
  h2{
    font-size: 30px;
  }
  span {
    font-size: 16px;
  }
  button{
    font-size: 16px;
  }

}

