@use "@/styles/_variables.scss" as *;

@font-face {
  font-family: 'Rubik Wet Paint';
  src: url('../fonts/Rubik Wet Paint/RubikWetPaint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont/Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Lighthaus';
  src: url('../fonts/Lighthaus/Lighthaus.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $black;
  overflow-x: hidden;
  font-size: 18px;
  font-family: 'Mont';
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}



h2{
  font-size: 50px;
  font-family: 'Lighthaus';
}


span {
  font-size: 30px;
}

.stocks{
  background-color: $black;
  display: flex;
  padding: 40px 8vw;
  color: $white;
  position: relative;
  
  .left-stocks{
    width: 60%;
  }
  h2{
    font-size: 140px;
    margin: 0;
  }
  p{
    font-size: 35px;
  }

  button{
    font-size: 18px;
    padding: 15px 130px;
    color: $black;
    background-color: $blue;
    border: 0;
    cursor: pointer;
    
  }
  .logo{
    font-family: 'Rubik Wet Paint', sans-serif;
    font-weight: normal;
    position: absolute;
    text-align: end;
    line-height: 0.9;
    bottom: 10px;
    right: 0;
  }
}



@media (max-width: 1024px) {
  h2{
    font-size: 40px;
  }
  span {
    font-size: 25px;
  }

  .stocks{
    
    padding: 15px 5vw;
    
    h2{
      font-size: 100px;
    }
    p{
      font-size: 25px;
    }
  
    button{
      font-size: 16px;
      padding: 15px 70px;
    }
  }
}

@media (max-width: 768px) {
  h2{
    font-size: 30px;
  }
  span {
    font-size: 16px;
  }
  button{
    font-size: 16px;
  }
  .stocks{
    
    padding: 15px 5vw;
    
    h2{
      font-size: 50px;
    }
    p{
      font-size: 15px;
    }
  
    button{
      padding: 5px 10px;
      font-size: 16px;
    }
  }
}

@media (max-width: 425px) {
  .stocks{
    h2{
      font-size: 30px;
    }
    p{
      font-size: 14px;
    }
    button{
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}

