@use "@/styles/_variables.scss" as *;
 // Импортируем переменные

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $black;
  overflow-x: hidden;
}

h2{
  font-size: 50px;
}

.stocks{
  background-color: $black;
}

