@use "@/styles/_variables.scss" as *;
 // Импортируем переменные

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  // width: 100%;
  color: $black;
  // overflow-x: hidden;
}

h2{
  font-size: 50px;
}
span {
  font-size: 30px;
}

.stocks{
  background-color: $black;
  display: flex;
  padding: 40px 8vw;
  color: $white;
  position: relative;
  div{
    flex: 1;
  }
  h2{
    font-size: 150px;
    margin: 0;
  }
  p{
    font-size: 35px;
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  button{
    font-size: 18px;
    padding: 15px 130px;
    color: $black;
    background-color: $blue;
    border: 0;
    cursor: pointer;
    
  }
}

@media (max-width: 1024px) {
  h2{
    font-size: 40px;
  }
  span {
    font-size: 25px;
  }
  
}

@media (max-width: 768px) {
  h2{
    font-size: 30px;
  }
  span {
    font-size: 16px;
  }
  button{
    font-size: 18px;
  }
}

// @media (max-width: 600px) {

//   span {
//     font-size: 15px;
//   }

// }

// @media (max-width: 425px) {

//   span {
//     font-size: 14px;
//   }

// }