@use "@/styles/_variables.scss" as *;


.footer {
  background-color: $black !important;
  color: $white;
  font-weight: bold;
}


.content {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.leftSection {
  flex: 2;
  color: $blue;
}

.rightSection {
  flex: 1;
  display: flex;
  gap: 2rem;
}

.privacy {
  color: $white;
  font-size: 14px;
}

.navigation, .contacts {
  flex: 1;
}

.navigation {
  .navTitle {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .navList {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    
    li {
      margin-top: 0.25rem;
      
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.contacts {
  .contactsTitle {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .email {
    color: $blue;
  }
  .socialIcons {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;

    a {
      color: white;
      transition: color 0.3s;

      &:hover {
        color: #4a90e2;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
 }
}

@media (max-width: 425px) {
  .content {
    flex-direction: column;
    // align-items: center;
 }
 .rightSection {
  flex-direction: column;
}
}