@use "@/styles/_variables.scss" as *;

.container {
  background-color: $white;
  text-align: center;
  position: relative;
  color: $black;
}

.Rewiev .container {
  background-color: white;
}

.productCard {

  padding-bottom: 30px;
  position: relative;


  .Card {
    // width: 100%;
    padding: 15px;
    background-color: white;
    height: auto;
    
  }

  button {
    position: absolute;
    background-color: $white;
    width: 50px;
    height: 60px;
    border: 0;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .CardBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3{
      font-size: 20px;
    }
    p{
      font-size: 30px;
      font-weight: italic;
    }
  }
  .img{
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}


.navigationButton{
  font-size: 18px;
  font-weight: bold;
  color: $white;
  background-color: $black;
  padding: 17px 77px;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .CardBottom{
    h3{
      font-size: 18px;
      padding-bottom: 0px;
    }
    p{
      font-size: 20px !important;
    }
  }
  .productCard {
    button{
      width: 40px;
      height: 45px;
    }
  }
  .navigationButton{
    padding: 10px 5vw;
    font-size: 16px;
    margin-top: 20px;
  }

}

@media (max-width: 1024px) {
  .navigationButton{
    margin-top: 15px;
  }
  

  .productCard {
    padding-bottom: 15px;
    
  }
  .Card {
    padding: 5px;
  }
  .CardBottom{
    h3{
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

}

@media (max-width: 768px) {
  .CardBottom{

    h3{
      font-size: 16px;

    }
    p{
      font-size: 18px !important;
    }
  }
  .productCard {
    button{
      width: 35px;
      height: 35px;
    }
  }
}

@media (max-width: 450px) {
  .container{
    padding: 15px 40px;
  }
}