@use "@/styles/_variables.scss" as *;
 // Подключаем переменные

.container {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  background-color: $white;
  padding: 30px 0;
}



.formWrapper {
  background: #fff;
  padding: 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 450px;
}

.title {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: $black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input {
  // width: 100%;
  padding: 10px;
  border: 1px solid $black;
  // border-radius: 5px;
  font-size: 18px;
}

.error {
  color: red;
  margin-top: -20px;
  font-size: 14px;
}

.button {
  width: 100%;
  padding: 10px;
  background: $violet;
  color: $white;
  border: none;
  // border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
}

.button:hover {
  background-color: $black;
}

.loginLink {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}

.loginLink:hover {
  text-decoration: underline;
}
